<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="7.4.2.216" targetFramework="net40" />
  <package id="DotNetNuke.Web" version="7.4.2.216" targetFramework="net40" />
  <package id="DotNetNuke.Web.Client" version="7.4.2.216" targetFramework="net40" />
</packages>